@charset "utf-8";

#all{
	background-color: black;
	height: 750px;
}
#header{
	background-color: red;
	height: 150px;
}
#main{
	background-color: gray;
	height: 450px;
}
#mainL{
	background-color: purple;
	height: 450px;
}
#mainR{
	background-color: orange;
	height: 450px;
}
#footer{
	background-color: yellow;
	height: 150px;
}
