@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
}

#all{
	background-color: rgba(0, 0, 0, 0);
	height: auto;
}
#portal{
	background-image: url('img/header_bg.jpg');
	background-size: cover;
	background-position: center center; 
	height: 600px;
	padding-top: 0px;
}
#bgvid{
	display: none;
}




#portalNav{
	background-color: rgba(0, 0, 0, 0);
	height: 32px;
	margin-bottom: 169px;
	padding-top: 14px;
}
#Nav_logo{
	width: 99px;
	height: 30px;
	background-image: url('img/logo_logo.svg');
	background-size: cover;
	float: left;
	margin-left: 19px;
}
#Nav_text{
	width: 292px;
	height: 32px;
	background-image: url('img/nav_text.png');
	background-size: cover;
	float: right;
}
#portalText{
	color: #ffffff;
	width: 358px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 145px;
}
#welcomeTXT{
	font-size: 48px;
}
#uniqueTXT{
	font-family: 'cwTeXYen', sans-serif;
}
#bookArea{
	width: 100%;
	height: 104px;
	padding-top: 30px;
	background-color: rgba(0, 0, 0, 0.5)
}

#ad{
	background-color: #edeeec;
	height: 151px;
	padding-top: 53px;
}
#ad_text{
	background-color: white;
	width: 160px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
}
#content{
	background: #edeeec;
	height: auto;
}
#content div{
	margin-left: auto;
	margin-right: auto;
}
#content_pic{
	background-color: #edeeec;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#pic_A{
	background-color: #edeeec;
	height: 344px;
	padding-left: 0px;
	padding-right: 12.5px;
}
#pic_A div{
background-image: url('img/kyoto.jpg');
background-size: cover;
background-position: center center; 
height: 344px;
}
#pic_B{
	background-color: #edeeec;
	height: 344px;
	padding-left: 12.5px;
	padding-right: 12.5px;
}
#pic_B div{
background-image: url('img/osaka.jpg');
background-size: cover;
background-position: center center; 
height: 344px;	
}
#pic_C{
	background-color: #edeeec;
	height: 344px;
	padding-left: 12.5px;
	padding-right: 0px;
}
#pic_C div{
background-image: url('img/tokyo.jpg');
background-size: cover;
background-position: center center; 
height: 344px;	
}
#location{
	background-color: #edeeec;
	height: 142px;
	padding-top: 50px;
}


@media screen and (max-width:767px){
#portalText{
	width: 358px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
margin-bottom: 0px;
}
#bookArea{

	background-color: rgba(0, 0, 0, 0.0);

}
#orderBar{
	width: 90%;
	height: 44px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}


#content div{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}
#pic_A{
	background-color: black;
	height: 344px;
	padding-left: 0px;
	padding-right: 0px;
}
#pic_A div{

height: 344px;
}
#pic_B{
	background-color: #edeeec;
	height: 344px;
	padding-left: 0px;
	padding-right: 0px;
}
#pic_B div{
 
height: 344px;	
}
#pic_C{
	background-color: #edeeec;
	height: 344px;
	padding-left: 0px;
	padding-right: 0px;
}
#pic_C div{
 
height: 344px;	
}
#location{
	display: none;
}
#location_btn{
	display: none;
}
}




@media screen and (min-width: 768px) and (max-width: 991px){

#portal{
	background-image: url('img/header_bg.jpg');
	background-size: cover;
	background-position: center center; 

}

#orderBar{
	width: 695px;
	height: 44px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
#pic_A{
	background-color: black;
	height: 344px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 25px;
}
#pic_A div{

height: 344px;
}
#pic_B{
	background-color: #edeeec;
	height: 344px;
	padding-left: 0px;
	padding-right: 12.5px;
}
#pic_B div{
 
height: 344px;	
}
#pic_C{
	background-color: #edeeec;
	height: 344px;
	padding-left: 12.5px;
	padding-right: 0px;
}
#pic_C div{
background-color: #00E8FF; 
height: 344px;	
}

#location_btn{
	background-color: white;
	height: 40px;
	border: solid 1px gray;
	margin-left: auto;
	margin-right: auto;
}

}






@media screen and (min-width:992px){


#portal{
	background-image: none;

	position: relative;
}
#bgvid {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	display: block;
	z-index: -2;

}

#orderBar{
	width: 897px;
	height: 44px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
#pic_A{
	height: 344px;
	padding-left: 0px;
	padding-right: 12.5px;
}
#pic_A div{
 
height: 344px;
}
#pic_B{
	background-color: #edeeec;
	height: 344px;
	padding-left: 12.5px;
	padding-right: 12.5px;
}
#pic_B div{

height: 344px;	
}
#pic_C{
	background-color: #edeeec;
	height: 344px;
	padding-left: 12.5px;
	padding-right: 0px;
}
#pic_C div{
 
height: 344px;	
}

#location_btn{
	background-color: white;
	width: 270px;
	height: 40px;
	border: solid 1px gray;
	margin-left: auto;
	margin-right: auto;
}

}